<a href="https://colab.research.google.com/github/saisumanthkorada/S2G/blob/main/S2G.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark
!pip install openpyxl

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.11/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.11/dist-packages (from openpyxl) (2.0.0)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
from pyspark.sql import SparkSession, functions as F
from pyspark.sql.functions import split, col,length,right,expr,regexp_extract,regexp_replace,trim,explode,first,lit
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType

In [4]:
spark = SparkSession.builder.getOrCreate()

In [6]:
movies_explodedB2S = spark.read.format('csv')\
.option('header','True')\
.option('Inferschema','True')\
.load('/content/drive/MyDrive/Silver_Layer/movies_exploded.csv')

In [7]:
movies_explodedB2S.show()

+-------+--------------------+---------+----+
|movieId|               title|  generes|year|
+-------+--------------------+---------+----+
|      1|           Toy Story|Adventure|1995|
|      1|           Toy Story|Animation|1995|
|      1|           Toy Story| Children|1995|
|      1|           Toy Story|   Comedy|1995|
|      1|           Toy Story|  Fantasy|1995|
|      2|             Jumanji|Adventure|1995|
|      2|             Jumanji| Children|1995|
|      2|             Jumanji|  Fantasy|1995|
|      3|    Grumpier Old Men|   Comedy|1995|
|      3|    Grumpier Old Men|  Romance|1995|
|      4|   Waiting to Exhale|   Comedy|1995|
|      4|   Waiting to Exhale|    Drama|1995|
|      4|   Waiting to Exhale|  Romance|1995|
|      5|Father of the Bri...|   Comedy|1995|
|      6|                Heat|   Action|1995|
|      6|                Heat|    Crime|1995|
|      6|                Heat| Thriller|1995|
|      7|             Sabrina|   Comedy|1995|
|      7|             Sabrina|  Romance|1995|
|      8|        Tom and Huck|Adventure|1995|
+-------+--------------------+---------+----+
only showing top 20 rows

In [8]:
RatingsB2S = spark.read.format('csv')\
.option('header','True')\
.option('Inferschema','True')\
.load('/content/drive/MyDrive/Silver_Layer/ratings_transformed.csv')

In [9]:
RatingsB2S.show()

+-------+--------+------+----------+--------------------+
|user_id|movie_id|rating|      date|          movie_name|
+-------+--------+------+----------+--------------------+
|      1|       1|   4.0|2008-52-03|           Toy Story|
|      1|     110|   4.0|2008-04-05|          Braveheart|
|      1|     158|   4.0|2008-31-03|              Casper|
|      1|     260|   4.5|2008-00-03|Star Wars: Episod...|
|      1|     356|   5.0|2008-58-03|        Forrest Gump|
|      1|     381|   3.5|2008-41-03|When a Man Loves ...|
|      1|     596|   4.0|2008-32-03|           Pinocchio|
|      1|    1036|   5.0|2008-07-03|            Die Hard|
|      1|    1049|   3.0|2008-41-03|Ghost and the Dar...|
|      1|    1066|   4.0|2008-29-03|      Shall We Dance|
|      1|    1196|   3.5|2008-04-03|Star Wars: Episod...|
|      1|    1200|   3.5|2008-11-03|              Aliens|
|      1|    1210|   4.5|2008-00-03|Star Wars: Episod...|
|      1|    1214|   4.0|2008-20-03|               Alien|
|      1|    1291|   5.0|2008-53-03|Indiana Jones and...|
|      1|    1293|   2.0|2008-37-03|              Gandhi|
|      1|    1376|   3.0|2008-32-03|Star Trek IV: The...|
|      1|    1396|   3.0|2008-32-03|            Sneakers|
|      1|    1537|   4.0|2008-24-03|Shall We Dance? (...|
|      1|    1909|   3.0|2008-35-03|X-Files: Fight th...|
+-------+--------+------+----------+--------------------+
only showing top 20 rows

In [10]:
RatingsB2S = RatingsB2S.withColumnRenamed("movie_id","movieId")
RatingsB2S = RatingsB2S.withColumnRenamed("date","date_rated")
movies_explodedB2S = movies_explodedB2S.withColumnRenamed("year","releaseyear")

In [11]:
from IPython.display import Markdown, display

In [12]:
display(Markdown("##Regular way of calculating averages"))

##Regular way of calculating averages

In [28]:
from pyspark.sql.functions import col, avg,count,round,lit,rank

joined_table = movies_explodedB2S\
    .join(RatingsB2S, on="movieId", how="left")\
    .groupBy( "generes")\
    .agg(round(avg("rating"),2).alias("average_rating"),count("user_id").alias("Number of users"))\
    .orderBy(col("average_rating"),col("Number of users"), ascending=False)

In [14]:
joined_table.show()

+------------------+--------------+---------------+
|           generes|average_rating|Number of users|
+------------------+--------------+---------------+
|         Film-Noir|          3.92|         318917|
|               War|           3.8|        1697649|
|             Crime|           3.7|        5688582|
|             Drama|          3.69|       14787040|
|       Documentary|          3.69|         441100|
|           Mystery|          3.67|        2748373|
|         Animation|          3.62|        2329566|
|              IMAX|          3.61|        1560106|
|           Western|           3.6|         632052|
|           Romance|          3.55|        5874531|
|           Musical|          3.55|        1239223|
|          Thriller|          3.53|        9168628|
|         Adventure|          3.53|        8048929|
|           Fantasy|          3.51|        3899930|
|            Sci-Fi|          3.49|        6032230|
|            Action|          3.48|       10222144|
|          Children|          3.44|        2897960|
|            Comedy|          3.43|       11860140|
|(no genres listed)|          3.37|          56059|
|            Horror|          3.31|        2610188|
+------------------+--------------+---------------+
only showing top 20 rows

In [15]:
display(Markdown("#IMDB way of calculating"))

#IMDB way of calculating

In [16]:
total_average = RatingsB2S.agg(round(avg("rating"),2)).first()[0]

In [36]:
print(total_average)

3.54

In [17]:
##lets take minimum ratings
m = 100000

In [18]:
IMDB_TABLE = movies_explodedB2S\
             .join(RatingsB2S, on="movieId", how="left")\
             .groupBy("generes")\
             .agg(round(avg("rating"),2).alias("average_rating"),count("user_id").alias("Number of users"))\
             .withColumn("IMDB_RATING",round(((col("Number of users")/(col("Number of users")+lit(m)))*col("average_rating"))+((lit(m)/(col("Number of users")+lit(m))))*lit(total_average),2))\
             .orderBy(col("IMDB_RATING"),col("Number of users"), ascending = False)

In [19]:
IMDB_TABLE.show(2)

+---------+--------------+---------------+-----------+
|  generes|average_rating|Number of users|IMDB_RATING|
+---------+--------------+---------------+-----------+
|Film-Noir|          3.92|         318917|       3.83|
|      War|           3.8|        1697649|       3.79|
+---------+--------------+---------------+-----------+
only showing top 2 rows

In [33]:
from pyspark.sql.window import Window
window_spec = Window.orderBy(col("Number of users").desc())

In [35]:
Second_most_v_genre = IMDB_TABLE.withColumn("rank",rank().over(window_spec)).filter(col("rank")==2)

In [36]:
Second_most_v_genre.show()

+-------+--------------+---------------+-----------+----+
|generes|average_rating|Number of users|IMDB_RATING|rank|
+-------+--------------+---------------+-----------+----+
| Comedy|          3.43|       11860140|       3.43|   2|
+-------+--------------+---------------+-----------+----+

In [38]:
print(f'gener : {Second_most_v_genre.first()["generes"]} , user_viewed: {Second_most_v_genre.first()["Number of users"]}')

gener : Comedy , user_viewed: 11860140